<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %>impedindo esse cliente de ser salvo:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>
      <%= form.text_field :nome, placeholder: "Nome" %>
    </label>
  </div>

  <div class="field">
    <label>
    <%= form.text_field :telefone, placeholder: "Telefone" %>
    </label>
  </div>





  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nascimento %>
  </div>
 
  <%= form.hidden_field :ativo, value: "true" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
