<%= form_with(model: pedido, local: true) do |form| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> impedindo esse pedido de ser salvo:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.select :cliente_id, @clientes.collect {|cliente| [cliente.nome, cliente.id]} %>
  </div>

  
<table  class="fl-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor valor</th>
      <th colspan="3">Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% x = 0 %>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td class="valor"><%= produto.valor %></td>
        <td class="produto_info">
          <%= hidden_field_tag :nome, produto.id, id: "id_" + produto.id.to_s, name: "produtos[id"+x.to_s+"]"%>
          <%= number_field_tag :quantidade, 0, min: 0, id: "quantidade_" + produto.id.to_s, class: "quantidade", onchange: "calcula_valor_total()", name: "produtos[quantidade"+x.to_s+"]" %>
        </td>
      </tr>
      <% x += 1 %>
    <% end %>
  </tbody>
</table>
<br/>
  <div class="field">
    <%= form.label :valor_total %>
    <%= form.text_field :valor_total, value: 0, disabled: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
