<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @pedido.cliente %>
</p>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.produto.nome %></td>
        <td><%=produto.quantidade %></td>
        <td><%= produto.produto.valor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Valor total:</strong>
  <%= @pedido.valor_total %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
