<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <ul class="menuItems">
      <li><%=link_to "Página inicial",  root_path %> </li>
      <li><%=link_to "Clientes", clientes_path  %> </li>
      <li><%=link_to "Produtos", produtos_path  %> </li>
      <li><%=link_to "Pedidos", pedidos_path    %> </li>
    </ul>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
